<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Root Component</h1>
    <table>
        <tr>
            <td>Enter first name</td>
            <td> <input type="text" [(ngModel)]="fName"></td>
        </tr>
        <tr>
            <td>Enter last name</td>
            <td> <input type="text" [(ngModel)]="lName"></td>
        </tr>
    </table>

    <table>
        <tr>
            <td>Name is {{fName}} {{lName}}</td>
        </tr>
    </table>
</body>

</html>